@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-size: 2rem;
}

body {
  padding: 10px 20px;
  background-color: #2a799e;
  color: #fff3b0;
  font-family: 'Bitter', serif;
}

.calculator {
  width: 400px;
  margin: auto auto;
}

.button-key {
  display: flex;
  flex-wrap: wrap;
}

.display {
  font-size: 2rem;
  padding: 20px 10px;
  background: #858694;
  color: #e0e0e0;
  overflow: auto;
}

.btn {
  width: 25%;
  height: 4.5rem;
  border-radius: 0;
  border: solid 1px #e0e0e0;
}

.btn-key {
  width: 50%;
}

.btn-operator {
  background-color: #f5913e;
  border: solid 1px #e0e0e0;
  width: 25%;
}

.displayNumber {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: grey;
}
